# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
profile
*.moved-aside
DerivedData
.idea/
*.hmap
BWCMTApp.xccheckout
BWCMTApp.xcscmblueprint
#CocoaPods

xcuserdata
*.xcuserstate 

.vscode/
Pods/
AdHoc-iphoneos/*
Debug-iphoneos/*
Release-iphoneos/*
Distribution-iphoneos/*
Distribution_debug-iphoneos/*
libs/*
LinDoorControlSDK/framework/*
LinHouseHoldUIKit/framework/*
LinUIKit/framework/*
Podfile.lock
